@{
    ViewData["Title"] = "Checkin Page";
}
<section class="gallery" id="gallery">
    <h1 class="heading">
        <span>C</span>
        <span>H</span>
        <span>E</span>
        <span>C</span>
        <span>K</span>
        <span class="space"></span>
        <span>I</span>
        <span>N</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img decoding="async" src="~/img/g-1.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-2.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-3.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-4.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-5.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-6.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-7.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-8.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="~/img/g-9.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
            </div>
        </div>
    </div>
</section>