@{
    ViewData["Title"] = "Dichvu Page";
}
<section class="services" id="services">
    <h1 class="heading">
        <span>D</span>
        <span>Ị</span>
        <span>C</span>
        <span>H</span>
        <span class="space"></span>
        <span>V</span>
        <span>Ụ</span>
    </h1>

    <div class="box-container">
        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>Khách sạn giá rẻ</h3>
            <p>
                Tận hưởng sự thoải mái với khách sạn giá phải chăng của chúng tôi.
                Đảm bảo chất lượng cao với mức giá hấp dẫn.
                Đặt phòng ngay hôm nay và trải nghiệm chuyến đi tuyệt vời mà không cần lo lắng về túi tiền.
            </p>
        </div>
        <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>Thức ăn và đồ uống</h3>
            <p>
                Khám phá ẩm thực đa dạng tại chúng tôi! Món ăn và đồ uống phong phú, đáp ứng mọi khẩu vị
                Thưởng thức hương vị độc đáo và phục vụ chuyên nghiệp của chúng tôi ngay hôm nay!
            </p>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>Bảo mật</h3>
            <p>
                Chúng tôi cam kết bảo mật thông tin của bạn!
                Với biện pháp bảo mật tiên tiến và chính sách nghiêm ngặt, mọi thông tin cá nhân đều được bảo vệ tuyệt đối.
                Tin tưởng vào chúng tôi để trải nghiệm dịch vụ an toàn và bảo mật. Hãy yên tâm khi sử dụng dịch vụ của chúng tôi!
            </p>
        </div>
        <div class="box">
            <i class="fas fa-globe-asia"></i>
            <h3>Trên toàn thế giới</h3>
            <p>
                Khám phá khách sạn trên toàn thế giới tại chúng tôi!
                Danh sách đa dạng và phong phú, phục vụ mọi chuyến đi.
                Từ thành phố sôi động đến khu nghỉ biển tuyệt đẹp, trải nghiệm đẳng cấp không thể bỏ qua.
                Hãy khám phá ngay hôm nay và bắt đầu cuộc phiêu lưu trên toàn cầu!
            </p>
        </div>
        <div class="box">
            <i class="fas fa-plane"></i>
            <h3>Di chuyển</h3>
            <p>
                Trải nghiệm hành trình nhanh nhất và tận hưởng nghỉ dưỡng tại khách sạn của chúng tôi!
                Chúng tôi cung cấp các dịch vụ vận chuyển hiệu quả để đưa bạn đến điểm đến một cách nhanh chóng.
                Khách sạn của chúng tôi sẽ đảm bảo rằng bạn có một kỳ nghỉ tiện nghi và thoải mái ngay khi đến nơi.
                Hãy trải nghiệm hành trình và nghỉ dưỡng tốt nhất với chúng tôi!
            </p>
        </div>
    </div>
</section>