@{
    ViewData["Title"] = "Gioithieu Page";
}
<section class="review" id="review">
    <h1 class="heading">
        <span>G</span>
        <span>I</span>
        <span>Ớ</span>
        <span>I</span>
        <span class="space"></span>
        <span>T</span>
        <span>H</span>
        <span>I</span>
        <span>Ệ</span>
        <span>U</span>
    </h1>
    <div class="swiper mySwiper review-slider">
        <div class="swiper-wrapper wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <img decoding="async" src="~/img/pic1.jpg" alt="">
                    <h3>Nguyễn Tấn Thiện</h3>
                    <p>
                        Giám đốc Nhà hàng
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img decoding="async" src="~/img/pic2.jpg" alt="">
                    <h3>Lê Hoàng Thiện</h3>
                    <p>
                        Giám đốc Kinh doanh
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img decoding="async" src="~/img/pic3.jpg" alt="">
                    <h3>Trần Trung Kiên</h3>
                    <p>
                        Tổng Giám đốc
                    </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>