@{
    ViewData["Title"] = "Phong Page";
}
<section class="packages" id="packages">
    <h1 class="heading">
        <span>P</span>
        <span>H</span>
        <span>Ò</span>
        <span>N</span>
        <span>G</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img decoding="async" src="/img/p-1.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> mumbai </h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.00 <span>$120.00</span></div>
                <a href="#" class="btn">Đặt ngay</a>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="/img/p-2.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> sydney </h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.00 </div>
                <a href="#" class="btn">Đặt ngay</a>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="/img/p-3.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> hawaii </h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.00 <span>$120.00</span></div>
                <a href="#" class="btn">Đặt ngay</a>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="/img/p-4.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> paris </h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.00 <span>$120.00</span></div>
                <a href="#" class="btn">Đặt ngay</a>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="/img/p-5.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> tokyo </h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.00 <span>$120.00</span></div>
                <a href="#" class="btn">Đặt ngay</a>
            </div>
        </div>
        <div class="box">
            <img decoding="async" src="/img/p-6.jpg" alt="">
            <div class="content">
                <h3><i class="fas fa-map-marker-alt"></i> eypt </h3>
                <p>Lorem Ipsum is simply dummy text of the farhan and typesetting industry.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.00 <span>$120.00</span></div>
                <a href="#" class="btn">Đặt ngay</a>
            </div>
        </div>
    </div>
</section>