@{
    ViewData["Title"] = "Login Page";
}
<div class="login-form-container">
    <i class="fas fa-times" id="form-close"></i>
    <form action="">
        <h3>Đăng Ký</h3>
        <input type="email" class="box" placeholder="Nhập email">
        <input type="password" class="box" placeholder="Nhập mật khẩu">
        <input type="password" class="box" placeholder="Xác nhận lại mật khẩu">
        <input type="submit" value="Đăng ký" class="btn">
        <p>Đã có tài khoản? <a asp-area="" asp-controller="Home" asp-action="Login">Đăng nhập</a></p>
    </form>
</div>